$sectionColor: #252021;
$containerColor: #1f1b1c;
$darkest: #536271;
$darkestest: #3b3436;

$activeColor: rgba(0, 0, 255, 0.4);
$borderColor: rgba(255, 255, 255, 0.2);
$bg-color: #191516;

$defaultFontSize: 1.5rem;

@mixin center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'Fira Sans', monospace;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $bg-color;
    color: white;

    scrollbar-width: thin;
    scrollbar-color: $sectionColor $containerColor;
}

main 
{
    display: grid;
    grid-template-columns: 25vw auto auto;
    grid-template-rows: 5vh auto 5vh;
    height: 95vh;
    gap: 15px;

    section, nav, footer, #controls button
    {
        background: $sectionColor;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

// ====================================
// TITLE BAR
// ====================================

nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid $borderColor;
    background: none;

    p {
        display: block;
        height: 100%;
        display: flex;
        align-items: center;
    }

    #title {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: $defaultFontSize;
        padding-left: 25px;
        text-decoration: underline;
    }
}

#controls {
    width: 100%;
    display: flex;
    justify-content: right;
    background: none;

    grid-column-start: 3;
    grid-column-end: 4;
    
    button, a {
        width: 50%;
        background: $sectionColor;
        color: white;
        max-width: 64px;
        margin-left: 15px;
        transition: background 0.1s;
        border: 1px solid $borderColor;

        img {
            width: 32px;
        }

        &:hover {
            transition: background 0.1s;
            background: $darkestest;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

// ====================================
// NOTEPAD
// ====================================

#notepad {
    width: 100%;
    overflow-y: scroll;
    max-height: 85vh;
    border: 1px solid $borderColor;
}

.line {
    display: grid;
    grid-template-columns: 15% auto;
    width: 100%;
    
    span {
        display: inline-block;
        font-size: $defaultFontSize;
        text-align: center;
        background: $containerColor;
    }
}

.line-input {
    background: none;
    font-size: $defaultFontSize;
    caret-color: white;
    color: white;
    tab-size: 4;
    padding-left: 10px;

    &:hover, &:focus {
        background: $containerColor;
    }
}

#console {
    grid-column-start: 1;
    grid-column-end: 4;

    @include center-flex();

    border: 1px solid $borderColor;

    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    color: red;
}

// ====================================
// INPUT AND OUTPUT
// ====================================

#io {
    display: grid;
    grid-template-rows: 33.33% 33.33% auto;
    background: rgba(0, 0, 0, 0);
    width: 15vw;
    gap: 5px;
    
    div {
        background: $containerColor;
        align-self: center;
        height: 100%;
        border: 1px solid $borderColor;
    }

    span {
        display: inline-block;
        font-size: $defaultFontSize;
        background: $sectionColor;
        width: 100%;
        height: 32px;
        text-align: center;
    }

    p {
        margin: 10px;
        font-size: $defaultFontSize;
    }
}

#registers {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    input {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

// ====================================
// MEMORY
// ====================================

#memory {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 4.5vw);
    grid-template-rows: repeat(10, auto);
    max-width: 50vw;
    gap: 5px;
}

.mem-cell {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 25% 75%;
    max-width: 5vw;

    border: 1px solid $borderColor;

    span {
        font-weight: bold;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    div {
        text-align: center;
        background: $containerColor;
        font-size: $defaultFontSize;
        max-width: 5vw;
        overflow: hidden;
    }
}

.active-cell {
    background-color: $activeColor;
}